body{
color:white;

background:rgb(88, 3, 3);

}
header{
    border-bottom: solid 2px rgb(rgb(86, 19, 19));
    padding: 20px;
    font-size: 32px;
    color: rgb(44, 1, 1);
    background: rgb(222, 154, 154);
}
.chamada{
    background: rgb(67, 23, 23);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

p{
text-align: center;
font-size: 30px;
}